[*.cs]

# RCS1228: Unused element in documentation comment.
dotnet_diagnostic.RCS1228.severity = none

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# RCS1217: Convert interpolated string to concatenation.
dotnet_diagnostic.RCS1217.severity = none
