
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{json,resjson}]
indent_style=space
indent_size=2
tab_width=2

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=4

[*]

# Standard properties
end_of_line=crlf

# Microsoft .NET properties
csharp_new_line_before_open_brace=none
csharp_preferred_modifier_order=private, protected, public, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=true:error
csharp_space_between_method_call_parameter_list_parentheses=true
csharp_space_between_method_declaration_parameter_list_parentheses=true
csharp_space_between_parentheses=control_flow_statements,expressions,type_casts
csharp_style_var_elsewhere=true:error
csharp_style_var_for_built_in_types=true:error
csharp_style_var_when_type_is_apparent=true:error
csharp_using_directive_placement=inside_namespace:silent
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:warning
dotnet_style_predefined_type_for_locals_parameters_members = false:none
dotnet_style_predefined_type_for_member_access = true:none
dotnet_style_qualification_for_event=true:warning
dotnet_style_qualification_for_field=true:warning
dotnet_style_qualification_for_method=true:warning
dotnet_style_qualification_for_property=true:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_arguments_anonymous_function=named
resharper_arguments_literal=named
resharper_arguments_named=named
resharper_arguments_other=named
resharper_arguments_string_literal=named
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_control_transfer_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_blank_lines_before_single_line_comment=1
resharper_blank_lines_inside_namespace=1
resharper_blank_lines_inside_type=1
resharper_braces_redundant=true
resharper_brace_style=end_of_line
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_blank_lines_around_single_line_field=1
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_empty_block_style=together
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_max_line_length=175
resharper_csharp_space_within_array_access_brackets=true
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_before_ternary_opsigns=false
resharper_enforce_line_ending_style=true
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_local_function_body=expression_body
resharper_max_enum_members_on_line=1
resharper_max_initializer_elements_on_line=5
resharper_method_or_operator_body=expression_body
resharper_place_accessorholder_attribute_on_same_line=false
resharper_place_field_attribute_on_same_line=false
resharper_place_simple_anonymousmethod_on_single_line=false
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_initializer_on_single_line=false
resharper_remove_blank_lines_near_braces_in_code=false
resharper_space_around_arrow_op=true
resharper_space_within_array_rank_brackets=true
resharper_space_within_checked_parentheses=true
resharper_space_within_default_parentheses=true
resharper_space_within_nameof_parentheses=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_space_within_sizeof_parentheses=true
resharper_space_within_typeof_parentheses=true
resharper_wrap_before_linq_expression=true
resharper_xmldoc_attribute_indent=align_by_first_attribute
resharper_xmldoc_attribute_style=on_single_line
resharper_xmldoc_blank_line_after_pi=false
resharper_xmldoc_indent_text=ZeroIndent
resharper_xmldoc_keep_user_linebreaks=false
resharper_xmldoc_max_line_length=180
resharper_xmldoc_pi_attribute_style=on_single_line
resharper_xmldoc_wrap_tags_and_pi=false
resharper_xml_linebreaks_inside_tags_for_elements_longer_than=2147483645
resharper_xml_max_blank_lines_between_tags=1
resharper_xml_max_line_length=220

# ReSharper inspection severities
resharper_annotate_can_be_null_parameter_highlighting=warning
resharper_annotate_can_be_null_type_member_highlighting=warning
resharper_annotate_not_null_type_member_highlighting=warning
resharper_annotation_redundancy_at_value_type_highlighting=error
resharper_annotation_redundancy_in_hierarchy_highlighting=none
resharper_arguments_style_anonymous_function_highlighting=none
resharper_arguments_style_literal_highlighting=none
resharper_arguments_style_named_expression_highlighting=none
resharper_arguments_style_other_highlighting=none
resharper_arguments_style_string_literal_highlighting=none
resharper_arrange_accessor_owner_body_highlighting=error
resharper_arrange_attributes_highlighting=error
resharper_arrange_constructor_or_destructor_body_highlighting=suggestion
resharper_arrange_local_function_body_highlighting=error
resharper_arrange_method_or_operator_body_highlighting=error
resharper_arrange_redundant_parentheses_highlighting=none
resharper_arrange_this_qualifier_highlighting=error
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_assign_null_to_not_null_attribute_highlighting=error
resharper_auto_property_can_be_made_get_only_global_highlighting=hint
resharper_base_member_has_params_highlighting=error
resharper_check_namespace_highlighting=error
resharper_class_cannot_be_instantiated_highlighting=error
resharper_class_never_instantiated_global_highlighting=none
resharper_class_never_instantiated_local_highlighting=none
resharper_class_with_virtual_members_never_inherited_global_highlighting=none
resharper_collection_never_queried_global_highlighting=none
resharper_collection_never_queried_local_highlighting=none
resharper_comment_typo_highlighting=none
resharper_conditional_ternary_equal_branch_highlighting=error
resharper_condition_is_always_true_or_false_highlighting=error
resharper_consider_using_configure_await_highlighting=error
resharper_constant_conditional_access_qualifier_highlighting=error
resharper_constant_null_coalescing_condition_highlighting=error
resharper_convert_closure_to_method_group_highlighting=error
resharper_convert_nullable_to_short_form_highlighting=error
resharper_convert_switch_statement_to_switch_expression_highlighting=none
resharper_convert_to_auto_property_highlighting=error
resharper_convert_to_auto_property_when_possible_highlighting=error
resharper_convert_to_auto_property_with_private_setter_highlighting=error
resharper_convert_to_compound_assignment_highlighting=error
resharper_convert_to_constant_global_highlighting=error
resharper_convert_to_constant_local_highlighting=error
resharper_convert_to_lambda_expression_highlighting=error
resharper_convert_to_lambda_expression_when_possible_highlighting=error
resharper_convert_to_local_function_highlighting=error
resharper_convert_to_null_coalescing_compound_assignment_highlighting=error
resharper_convert_to_static_class_highlighting=error
resharper_convert_to_using_declaration_highlighting=none
resharper_c_sharp_warnings_cs1570_highlighting=error
resharper_c_sharp_warnings_cs1574_highlighting=error
resharper_c_sharp_warnings_cs1591_highlighting=none
resharper_c_sharp_warnings_cs1592_highlighting=error
resharper_c_sharp_warnings_cs8123_highlighting=error
resharper_c_sharp_warnings_wme006_highlighting=error
resharper_empty_constructor_highlighting=error
resharper_empty_general_catch_clause_highlighting=none
resharper_empty_statement_highlighting=error
resharper_event_unsubscription_via_anonymous_delegate_highlighting=error
resharper_field_can_be_made_read_only_global_highlighting=hint
resharper_field_can_be_made_read_only_local_highlighting=error
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting=error
resharper_for_can_be_converted_to_foreach_highlighting=error
resharper_function_recursive_on_all_paths_highlighting=error
resharper_heuristic_unreachable_code_highlighting=error
resharper_identifier_typo_highlighting=none
resharper_implicitly_captured_closure_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_inline_out_variable_declaration_highlighting=error
resharper_invalid_xml_doc_comment_highlighting=error
resharper_invoke_as_extension_method_highlighting=error
resharper_join_declaration_and_initializer_highlighting=error
resharper_join_null_check_with_usage_highlighting=error
resharper_join_null_check_with_usage_when_possible_highlighting=error
resharper_localizable_element_highlighting=none
resharper_local_function_can_be_made_static_highlighting=error
resharper_loop_can_be_converted_to_query_highlighting=error
resharper_loop_can_be_partly_converted_to_query_highlighting=suggestion
resharper_member_can_be_made_static_global_highlighting=error
resharper_member_can_be_made_static_local_highlighting=error
resharper_member_can_be_private_global_highlighting=none
resharper_member_can_be_protected_global_highlighting=none
resharper_member_initializer_value_ignored_highlighting=error
resharper_merge_cast_with_type_check_highlighting=error
resharper_merge_conditional_expression_highlighting=error
resharper_merge_conditional_expression_when_possible_highlighting=error
resharper_merge_sequential_checks_highlighting=error
resharper_merge_sequential_checks_when_possible_highlighting=error
resharper_method_supports_cancellation_highlighting=error
resharper_multiple_order_by_highlighting=error
resharper_negative_equality_expression_highlighting=error
resharper_not_accessed_field_global_highlighting=none
resharper_not_resolved_in_text_highlighting=error
resharper_n_unit_method_with_parameters_and_test_attribute_highlighting=error
resharper_parameter_hides_member_highlighting=error
resharper_parameter_only_used_for_precondition_check_global_highlighting=none
resharper_parameter_only_used_for_precondition_check_local_highlighting=suggestion
resharper_partial_type_with_single_part_highlighting=error
resharper_possibly_impure_method_call_on_readonly_variable_highlighting=error
resharper_pure_attribute_on_void_method_highlighting=error
resharper_redundant_argument_default_value_highlighting=none
resharper_redundant_assignment_highlighting=error
resharper_redundant_base_constructor_call_highlighting=error
resharper_redundant_bool_compare_highlighting=error
resharper_redundant_cast_highlighting=error
resharper_redundant_default_member_initializer_highlighting=error
resharper_redundant_empty_finally_block_highlighting=error
resharper_redundant_extends_list_entry_highlighting=error
resharper_redundant_if_else_block_highlighting=error
resharper_redundant_overflow_checking_context_highlighting=error
resharper_redundant_query_order_by_ascending_keyword_highlighting=error
resharper_redundant_readonly_modifier_highlighting=error
resharper_redundant_to_string_call_for_value_type_highlighting=error
resharper_redundant_using_directive_highlighting=error
resharper_reference_equals_with_value_type_highlighting=error
resharper_return_type_can_be_enumerable_global_highlighting=suggestion
resharper_return_type_can_be_enumerable_local_highlighting=error
resharper_return_value_of_pure_method_is_not_used_highlighting=error
resharper_simplify_conditional_ternary_expression_highlighting=error
resharper_simplify_linq_expression_highlighting=error
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting=none
resharper_string_literal_as_interpolation_argument_highlighting=error
resharper_string_literal_typo_highlighting=none
resharper_suggest_base_type_for_parameter_highlighting=none
resharper_too_wide_local_variable_scope_highlighting=error
resharper_try_cast_always_succeeds_highlighting=error
resharper_unassigned_field_global_highlighting=none
resharper_unused_auto_property_accessor_global_highlighting=none
resharper_unused_auto_property_accessor_local_highlighting=none
resharper_unused_label_highlighting=error
resharper_unused_local_function_parameter_highlighting=error
resharper_unused_member_global_highlighting=none
resharper_unused_member_in_super_global_highlighting=none
resharper_unused_member_local_highlighting=none
resharper_unused_method_return_value_global_highlighting=none
resharper_unused_method_return_value_local_highlighting=none
resharper_unused_parameter_global_highlighting=error
resharper_unused_parameter_in_partial_method_highlighting=error
resharper_unused_parameter_local_highlighting=hint
resharper_unused_type_global_highlighting=none
resharper_unused_type_parameter_highlighting=error
resharper_unused_variable_compiler_highlighting=error
resharper_use_collection_count_property_highlighting=error
resharper_use_format_specifier_in_interpolation_highlighting=error
resharper_use_index_from_end_expression_highlighting=error
resharper_use_nameof_expression_highlighting=error
resharper_use_negated_pattern_matching_highlighting=error
resharper_use_null_propagation_highlighting=error
resharper_use_null_propagation_when_possible_highlighting=error
resharper_use_object_or_collection_initializer_highlighting=error
resharper_use_pattern_matching_highlighting=error
resharper_use_string_interpolation_highlighting=error
resharper_vb_warnings_bc42358_highlighting=error
resharper_virtual_member_call_in_constructor_highlighting=error
resharper_virtual_member_never_overridden_global_highlighting=none
