################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Librainian/v16
/LibrainianUnitTests/obj/Debug
/LibrainianUnitTests/obj
/LibrainianUnitTests/bin
/LibrainianOld.Tests/obj
/LibrainianOld.Tests/bin
/.vs/Librainian/DesignTimeBuild
