<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digging_ComplexityAlertThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Digging_ComplexityWarningThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>