<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MathNet.Numerics" version="3.1.0" targetFramework="net45" />
  <package id="maventhought.commons" version="0.9.7" targetFramework="net45" />
  <package id="MavenThought.Units" version="0.3.2" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.22-beta" targetFramework="net45" />
  <package id="Pluralizer" version="0.3.0.1" targetFramework="net45" />
  <package id="Units" version="2014.1.17.1" targetFramework="net45" />
  <package id="UnitsNet" version="3.0.0" targetFramework="net45" />
</packages>