[*.cs]

# RCS1228: Unused element in documentation comment.
dotnet_diagnostic.RCS1228.severity = none

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# RCS1217: Convert interpolated string to concatenation.
dotnet_diagnostic.RCS1217.severity = none

# AD0001: Analyzer Failure
dotnet_diagnostic.AD0001.severity = silent

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none
